<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/home.css}" />
    

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Student Registration</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">Our School</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a th:href="@{'/admins/login'}" class="login">LogIn</a></li>
                <li><a role="button" th:href="@{'/admins/SignUp'}"
                    >SignUp</a</li>
            </ul>
        </nav>
    </header>
    
    <section id="about">
        
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget commodo ipsum. Nullam in tincidunt odio, sit amet luctus nulla. Sed consequat lacinia massa, nec semper mauris consectetur ac.</p>
      
    
         </section>
    
    <section id="services">
        <!-- <img src="/WhatsApp Image 2023-05-10 at 09.25.49.jpeg" alt=""> -->
        <h2>Our Services</h2>
        <div class="service-container">
            <div class="service">
                <h3>Service 1</h3>
                <p>Register the student</p>
            </div>
            <div class="service">
                <h3>Service 2</h3>
                <p>Connect the student with the school.</p>
            </div>
            <div class="service">
                <h3>Service 3</h3>
                <p>Provide information about school.</p>
            </div>
        </div>
    </section>
    
</body>

</html>